.ripple {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    &>span {
        display: inline-block;
        position: relative;
        animation: ripple;
        opacity: 0.7;
        transform: scale(0);
        border-radius: 100%;
        transform-origin: 50% 50%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0, 0);
    }

    to {
        opacity: 0;
        transform: scale(3, 3);
    }
}