@import 'Paginator.common';

.paginator {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.paginator__page-indicator__current-page-input {
    border: 2px solid rgba(#555, 0.25);
    background-color: #fff1f1;

    &:focus {
        border-color: #555;
    }
}