.service-configuration-tab {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.service-configuration-tab__apply {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 3em;
}