.log-data-browser {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    border-radius: 10px;

    .data-browser__request {
        overflow: auto;
        border-radius: initial;
        box-shadow: initial;
        height: initial;
        border: none;
    }

    .data-browser__response {
        box-shadow: initial;
        border-radius: 0;
        height: 50%;
        max-height: initial;
        overflow: hidden;
        min-height: 10%;
        flex: auto;
        border: none;
        margin-top: 0;
        padding: 5px;
    }

    .message-banner {
        margin-top: 5px;
    }
}