$accent-color: #607d8b;
$accent-text-color: #fff;
$active-item-color: #ff0;
$disabled-item-color: rgba(255, 255, 255, 0.1);
$hovering-shadow: 2px 5px 20px -10px rgba(0, 0, 0, 0.25),
2px 5px 40px rgba(0, 0, 0, 0.25);
$label-color: #ff6398;
$primary-color: #e91e63;
$primary-text-color: #fff;
$theme-color: #3b3b3b;
$table-border-color: #cecece;