@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/MaterialIcons-Round.woff2);
}

html {
    font-size: 16px;
}

body,
main {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.frozen * {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body.frozen {
    cursor: nwse-resize;
}

a {
    outline: none;
    text-decoration: none;
}

/* https://google.github.io/material-design-icons/ */
.material-icons {
    font-family: 'Material Icons Round' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@keyframes fadein {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td,
td>div {
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
}

th {
    font-weight: bold;
    padding: 10px 15px;
}

td {
    position: relative;
    padding: 0;

    &>div {
        padding: 5px;
        white-space: pre;
    }
}

table table {
    thead {
        border: none;
    }

    th {
        padding: 5px 10px;
        border-top: none;
        border-left: none;
        white-space: initial;

        &:last-of-type {
            border-right: none;
        }
    }

    td {
        white-space: initial;
        border-bottom: none;
        border-left: none;

        &:last-of-type {
            border: none;
        }

        &>div {
            border: none;
        }
    }

}