.form-group {
    position: relative;
}

.form-group__heading {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    margin: 10px;
    border-bottom: 2px inset rgba(0, 0, 0, 0.08);
    color: #3f51b5;
}