.label-container {
    position: fixed;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    z-index: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    .gridappsd-tooltip.bottom {
        transform: translateY(-8px);
    }
    .gridappsd-tooltip.top {
        transform: translateY(8px);
    }
    td {
        padding: 0 5px;
    }
}