.comm-outage-event-table {

    th[rowspan='2'] {
        font-size: 0.8em;
    }

    .comm-outage-event-table__secondary-heading {
        font-size: 0.8em;
    }

}

.comm-outage-event-table__row-actions .icon-button:first-of-type {
    margin-right: 5px;
}