.notification-banner {
    position: absolute;
    z-index: 10000;
    left: 0;

    .backdrop {
        z-index: -1;
    }
}

.notification-banner.persistent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    .notification-banner__content {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.notification-banner.not-persistent {
    position: fixed;
    bottom: 0;
    width: 100vw;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

    .notification-banner__content {
        // height: 120px;
        box-shadow: 0 -2px 5px #555;
        background-color: rgba(0, 0, 0, 0.65);
    }

    .icon-button {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.notification-banner.not-persistent.slide-in {
    animation-name: slide-in;
    transform: translateY(0);
    opacity: 1;
}

.notification-banner.not-persistent.slide-out {
    animation-name: slide-out;
    transform: translateY(100%);
    opacity: 0;
}

.notification-banner__content {
    text-align: center;
    font-size: 45px !important;
    color: #fff;
    padding: 20px 5px;
    box-sizing: border-box;
    width: 100%;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}