@import '@constants.light';
@import 'IconButton.common';

.icon-button.has-background {
    box-shadow: 1px 3px 8px -2px rgba(0, 0, 0, 0.2), 0px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.2);
    }
}

.icon-button--primary.has-background:disabled,
.icon-button--accent.has-background:disabled {
    background-color: #e0e0e0;
    color: #efefef;
}

.icon-button--primary.has-background {
    background-color: $primary-color;
    color: $primary-text-color;
}

.icon-button--primary .ripple-effect {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-button--accent.has-background {
    background-color: $accent-color;
    color: $accent-text-color;
}

.icon-button--accent .ripple-effect {
    background-color: rgba(250, 250, 250, 0.8);
}

.icon-button--primary.no-background {
    color: $primary-color;
}

.icon-button--accent.no-background {
    color: $accent-color;
}