@import '@constants.common';

.notification-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    pointer-events: none;
}

.notification {
    position: relative;
    top: -20px;
    left: 20px;
    max-width: 700px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 60px;
    border-radius: 5px;
    z-index: 10000;
    animation: 0.5s $easing-function forwards;
}

.notification-container.visible .notification {
    animation-name: slide-in;
}

.notification-container.hidden .notification {
    animation-name: slide-out;
}

@keyframes slide-in {
    from {
        transform: translateX(calc(-100% - 20px));
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(calc(-100% - 20px));
        opacity: 0;
    }
}

.notification__close {
    right: 0;
    margin-left: 15px;
    pointer-events: all;
}