.query-logs {
    width: 70vw;
    height: auto;
}

.query-logs__request-configuration {
    display: flex;
    border-bottom: 2px solid #ddd;
}

.query-logs__request-configuration__left {
    border-right: 2px solid #ddd;
    width: 50%;
}

.query-logs__response {
    height: 60vh;
    overflow: auto;
    max-height: 60vh;
}