.checkbox {
    display: flex;
    position: relative;
    line-height: initial;
    flex-flow: row;
    align-items: center;

    .form-control__label {
        cursor: pointer;
        pointer-events: all;
    }
}

.checkbox.disabled {
    pointer-events: none;
}

.checkbox.label-position-left {
    margin: 0 20px;
}

.checkbox.label-position-right {

    .form-control__label {
        order: 1;
        width: initial;
        transform: translate(-10px);
    }

    .checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    left: -10px;
}

.checkbox__icon {
    position: relative;
    font-size: 1.5em;
    pointer-events: none;
}

.checkbox__icon__checked {
    position: absolute;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.checkbox__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    display: block;

    &:checked~.checkbox__icon__checked {
        opacity: 1;
    }
}

.checkbox__hint {
    display: inline-block;
    font-size: 0.8em;
    margin: 0 2.5px;
}