.stomp-client {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100vw;

    .form-control {
        width: 100%;
        margin-bottom: 10px;
    }

    label {
        width: 100px;
    }

    .form-control__body {
        width: calc(100% - 140px);
    }

}

.stomp-client__topic .input-field-wrapper {
    width: calc(100% + 18px);

    input {
        width: 100%;
    }
}

.stomp-client__request-body .textarea__input-box-container {
    width: calc(100% + 14px);
}

.stomp-client__send-request {
    margin-left: 120px;
    display: block;
}

.stomp-client__download-types {
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: -10px;

    .icon-button {
        margin: 0;
        margin-right: 10px;
    }
}

.stomp-client__response {
    min-height: 10%;
    flex: auto;

    .form-control__body {
        height: 100%;
    }

    .textarea__input-box-container {
        height: 100%;
        white-space: pre;
        max-height: 100%;
        overflow: auto;
        width: calc(100% + 14px);
    }
}