.drawer-opener {
    margin: 10px;
    margin-left: 20px;
    font-size: 30px;
    background: none;
    border: none;
    box-shadow: 0 0 3px #000;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    transition: box-shadow 0.2s ease;
    &:hover {
        box-shadow: 0 0 3px 1px #000;
    }
    &:before {
        transform: translateY(1.5px);
        color: #000;
        font-size: 27px;
        content: '\f00a';
    }
}