.command-event-table {
    border-collapse: collapse;
    width: 100%;
}

.command-event-table__header {
    background-color: #3f51b5;
    color: #fff;
    border: 2px solid #CECECE;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    padding: 10px 15px;
    white-space: nowrap;
}

.command-event-table__cell-value {
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #CECECE;
    padding: 0;
}

.command-event-table__difference-table {
    border-collapse: collapse;
}

.command-event-table__difference-table__header {
    font-size: 0.9em;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 3px 5px;
}

.command-event-table__difference-table__header:last-of-type {
    border: none;
    border-bottom: 2px solid #eee;
}

.command-event-table__difference-table__cell-value {
    padding: 5px;
    border-right: 2px solid #eee;
    font-size: 0.9em;
}

.command-event-table__difference-table__cell-value:last-of-type {
    border: none;
}