.fault-event-table {
    border-collapse: collapse;
    width: 100%;

    thead {
        background-color: #3f51b5;
        color: #fff;
        border: 2px solid #CECECE;
    }

    th {
        font-size: 0.8em;
        text-align: center;
        white-space: nowrap;
        font-weight: 500;
        padding: 10px 15px;
        border: 2px solid #CECECE;
    }

    td,
    div {
        white-space: nowrap;
        font-size: 0.9em;
        text-align: center;
    }

    td {
        border: 2px solid #CECECE;
        padding: 0;

        &>div {
            padding: 5px;

            &:not(:last-of-type) {
                border-bottom: 2px solid #CECECE;
            }
        }
    }
}

.fault-event-table__row-actions {
    display: inline-flex;
    justify-content: center;
}