.pop-up {
    transform-origin: 50% 50%;
    position: absolute;
    overflow: hidden;
    z-index: 24;
    transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;
}

.pop-up--enter {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1, 1);
}

.pop-up--leave {
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px) scale(0.9, 0.9);
}

@keyframes pop-up--enter {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(25px) scale(0.9, 0.9);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }
}

@keyframes pop-up--leave {
    from {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }

    to {
        visibility: hidden;
        opacity: 0;
        transform: translateY(25px) scale(0.9, 0.9);
    }
}