.model-renderer {
    height: calc(100vh - 35vh - 60px - 50px);
    width: 100%;
    position: relative;
    svg {
        width: 100%;
        height: 100%;
    }
    .wait {
        height: calc(100% + 30px);
        z-index: 0;
    }
    circle.element {
        stroke: gray;
        stroke-width: 1px;
    }
    path.link {
        stroke-width: 10px;
    }
}