.model-renderer {
    height: calc(100vh - 60px);
    width: 100%;
    position: absolute;
    svg {
        width: 100%;
        height: 100%;
    }
    .wait {
        height: calc(100% + 30px);
        z-index: 0;
    }
    path.edge {
        stroke-width: 10px;
    }
}