.measurement-chart {
    border-radius: 10px;
    margin: 5px auto;
    width: 95%;

    &__name {
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5px;
        padding-top: 3px;
    }

    &__zoom-control-container {
        display: flex;
        justify-content: flex-end;
        padding: 5px 10px;

        .icon-button {
            margin-left: 5px;
        }
    }

    &__canvas {
        width: 100%;
        height: 100%;
    }

    .tick {
        transition: transform 0.25s ease;

        text {
            user-select: none;
        }
    }
}

.measurement-chart__canvas__time-series-line {
    fill: none;
    stroke-width: 2px;
}

.measurement-chart__legend-container {
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
}

.measurement-chart__legend {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid;
    cursor: pointer;
}

.measurement-chart__legend__color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: inherit;
    border-right: 2px solid;
}

.measurement-chart__legend__label {
    font-size: 0.7em;
    display: inline-block;
    margin-left: 5px;
}

.measurement-chart__canvas__axis-label {
    font-size: 1em;
    font-weight: bolder;
}

.measurement-chart__canvas__overlapped-lines {
    font-size: 0.5em;
}