.measurement-chart {
    border-radius: 2px;
    margin: 5px auto;
    width: 95%;

    &__name {
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5px;
    }

    &__canvas {
        width: 100%;
        height: 100%;
    }

    .tick {
        transition: transform 0.25s ease;
    }
}

.measurement-chart__canvas__time-series-line {
    fill: none;
    stroke-width: 2px;
}

.measurement-chart__legend-container {
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
}

.measurement-chart__legend {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.measurement-chart__legend__color {
    width: 15px;
    height: 10px;
    display: inline-block;
    padding: 2.5px 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.measurement-chart__legend__label {
    font-size: 0.7em;
    display: inline-block;
    margin-left: 5px;
}

.measurement-chart__canvas__overlapped-lines {
    font-size: 0.5em;
}