@import '@constants.dark';
@import 'SimulationStatusLogger.common';

.simulation-status-logger__header__label {
    background-color: #7d6d6d;
    color: $accent-text-color;
    box-shadow: 0 0 2px #333;
}

.simulation-status-logger__header__legends {
    background-color: #564d4d;
    box-shadow: 0 0 2px #555;
}

$logLevels: FATAL ERROR WARN INFO DEBUG TRACE;
$logLevelColors: #B71C1C #D32F2F #FFFF00 #F0F4C3 #686868 #C0CA33;

@for $index from 1 through length($logLevels) {
    .simulation-status-logger__header__legends__level__color.#{nth($logLevels, $index)} {
        background-color: #{nth($logLevelColors, $index)};
    }
}

.simulation-status-logger__header__legends__level:not(:last-of-type) {
    border-right: 1px solid #fff;
}

.simulation-status-logger__header__legends__level__label {
    color: #fff;
}

.simulation-status-logger__body {
    background-color: scale-color($theme-color, $lightness: 5%);
    box-shadow: 0 -5px 25px #2e2e2e;
}