.switch-menu {
    .gridappsd-form-control {
        margin: 10px;
        font-size: 0.8em;
    }

    .gridappsd-form-control__label {
        width: 8em;
    }

    .dialog-content {
        padding: 0;
    }

    .dialog-actions {
        padding: 5px;
    }
}