@import 'TextArea.common';

.textarea__input-box {
    border: 2px solid #ccc;
}

.textarea__input-box-resize-handle {
    border-right: 3px solid #999;
    border-bottom: 3px solid #999;
}

.textarea__input-box:focus {
    border: 2px solid #639;
}

.form-control.invalid .textarea__input-box {
    border-color: red;
}

.form-control.disabled .textarea__input-box {
    border: 2px solid #eee;
    background-color: #f9f9f9;
    color: #ddd;
}