.textarea {
    align-items: flex-start;
}

.textarea__input-box-container {
    position: relative;
    width: 600px;
    height: 150px;
    max-height: 150px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
}

.textarea__input-box {
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    overflow-y: auto;
    padding: 5px;
    white-space: pre;
    vertical-align: top;
    border: 2px solid #ccc;
    transition: border-color 0.1s ease;
    outline: none;
}

.textarea__input-box-resize-handle {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-right: 3px solid #999;
    border-bottom: 3px solid #999;
    cursor: nwse-resize;
}

.textarea__input-box:focus {
    border: 2px solid #639;
}

.form-control.invalid .textarea__input-box {
    border-color: red;
}

.form-control.disabled .textarea__input-box {
    border: 2px solid #eee;
    background-color: #f9f9f9;
    pointer-events: none;
    color: #ddd;
}