@import '@constants.dark';
@import 'TextArea.common';

.textarea__input-box {
    border: 2px solid rgba($primary-text-color, 0.5);
    color: $primary-text-color;
    background-color: #363636;

    &[contenteditable=true]:focus {
        &::before {
            background-color: $primary-text-color;
        }

        &::after {
            background-color: $primary-text-color;
        }

        &~.textarea__input-box-focus-indicator {
            &::before {
                background-color: $primary-text-color;
            }

            &::after {
                background-color: $primary-text-color;
            }
        }
    }
}

.textarea__input-box,
.textarea__input-box-focus-indicator {

    &::before,
    &::after {
        background-color: rgba($primary-text-color, 0.5)
    }
}

.textarea__input-box-resize-handle {
    border-right: 3px solid #999;
    border-bottom: 3px solid #999;
}

.form-control.invalid .textarea__input-box {
    border-color: red;
}

.form-control.disabled {

    .textarea__input-box {
        border: 2px solid #c4b2b220;
        background-color: $theme-color;
        color: rgba($primary-text-color, 0.1);
    }

    .textarea__input-box-resize-handle {
        opacity: 0.2;
    }
}