.fault-event-table {
    border-collapse: collapse;
    width: 100%;

    th {
        font-size: 0.8em;
        text-align: center;
        white-space: nowrap;
        font-weight: 500;
        padding: 10px 15px;
    }

    td,
    div {
        white-space: nowrap;
        font-size: 0.9em;
        text-align: center;
    }

    td {
        padding: 0;

        &>div {
            padding: 5px;

        }
    }
}

.fault-event-table__row-actions .icon-button:first-of-type{
    margin-right: 5px;
}