.radio-button-group__radio-buttons {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.radio-button-group.style-switches {
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0;

    .radio-button-group__radio-buttons {
        border: 2px solid #3f51b5;
        justify-content: center;
        border-radius: 5px;
        box-shadow: 0 0 1px #3f51b5;
    }

    .form-control__label {
        background-color: #3f51b5;
        color: #fff;
        padding: 5px 15px;
        font-size: 0.7em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 0 2px #999;
        text-align: center;
        width: initial;
    }
}