.service-configuration-entry {
    .form-control {
        flex-flow: column nowrap;
        align-items: flex-start;
        display: inline-flex;
        margin-bottom: 0;
        margin-top: 0;
    }

    .form-control__label {
        width: initial;
        margin-bottom: 5px;
    }

    .form-control__label__hint {
        transform: none;
        position: relative;
    }

    .service-configuration-entry__value {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        margin-bottom: 20px;
    }

    .service-configuration-entry__example {
        transform: translate(20px, 3px);
        width: 20px;
        height: 20px;
    }
}