@import '@constants.dark';
@import 'DrawerItemGroup.common';

.drawer-item-group__nested-drawer-items:not(:empty) {
    background-color: #2b2b2b;
    box-shadow: 0 3px 5px #000 inset;
}

.drawer-item-group.expanded {
    background-color: rgba(122, 92, 98, 0.5);
}

.drawer-item-group__angle {
    color: $accent-color;
}