.drawer-opener {
    margin: 10px;
    margin-left: 20px;
    font-size: 30px;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    outline: none;

    i {
        font-size: 1.2em;
        color: #fff;
    }

}