.drawer-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px 20px;
    padding-right: 80px;
    font-size: 1.3em;
    border-bottom: 2px inset rgba(0, 0, 0, 0.2);
    position: relative;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}

.drawer-item-icon {
    margin-right: 20px;
    font-size: 1.25em;
    font-weight: bold;
}

.drawer-item-label {
    color: rgba(0, 0, 0, 0.7);
}