.backdrop {
    background-color: rgba(50, 50, 50, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
}

.backdrop.visible {
    animation-name: fadein;
}

.backdrop.hidden {
    animation-name: fadeout;
}

@keyframes fadein {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}