@import '@constants.light';
@import 'BasicButton.common';

button {
    background-color: transparent;
}

button.negative .ripple-effect {
    background-color: rgba(0, 0, 0, 0.1);
}

button.positive {
    background-color: $primary-color;
    color: $primary-text-color;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.3);
    }

    .ripple-effect {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &:disabled {
        box-shadow: none;
    }
}

button.negative:hover {
    background-color: rgba(0, 0, 0, 0.08);
}