.validation-error-message-container {
    margin: 0;
    padding: 5px 0 0 0;

    &:empty {
        display: none;
    }
}

.validation-error-message {
    font-size: 0.8em;
    color: red;
    font-style: italic;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}