.test-configuration {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;

    .test-configuration__form {
        overflow: auto auto;
        width: 40%;
        box-sizing: border-box;
    }
}

.test-configuration__form__upload-file {
    margin-left: 20px;
}

.test-configuration__event-summary {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    padding: 2px;
    box-sizing: border-box;
}

.test-configuration__save-events {
    position: absolute;
    left: 94.5%;
    top: 88%;
    z-index: 10;
}