@import '../../../constants';
.stomp-client-form {
    max-height: calc(100vh - #{$APP_BAR_HEIGHT});
    background-color: #fff;
    width: 100vw;
    position: relative;
    .gridappsd-form-control__label {
        width: 100px;
    }
    .gridappsd-form-control__ripple-input-field__input,
    .gridappsd-form-control__multiline-input {
        width: 80vw;
    }
}

.gridappsd-form-control__multiline-input.response {
    height: 47vh;
    white-space: pre;
    max-height: 47vh;
    padding: 5px;
    overflow: auto;
}