@import '../../../assets/constants';
.request-config-form {
    position: relative;
    padding-bottom: 20px;
    overflow-y: auto;
    max-height: 100%;
    .group {
        header {
            font-size: 25px;
            font-weight: bold;
            margin: 10px;
            border-bottom: 2px solid #222;
        }
    }
    .control {
        margin: 20px;
        z-index: 10;
        label {
            display: inline-block;
            font-weight: normal;
            margin: 10px;
            margin-left: 25px;
            width: 200px;
            vertical-align: top;
        }
        input {
            border: none;
            border-bottom: 2px solid #e3e3e3;
            width: 300px;
            outline: none;
            padding: 5px;
        }
        textarea {
            width: 600px;
            box-shadow: 0 0 3px #000;
            border-radius: 3px;
            padding: 5px;
            height: 150px;
            vertical-align: top;
        }
        .input-field {
            display: inline-block;
            position: relative;
        }
        .ripple .ripple-bar {
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
            transform: scaleX(0);
            background-color: #000;
            transform-origin: 50% 50%;
            display: inline-block;
        }
        .ripple input:focus~.ripple-bar {
            transform: scaleX(1);
        }
    }
    .show-simulation-output {
        margin-left: 20px;
    }
    .done {
        position: fixed;
        bottom: 30px;
        right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0 0 5px #000;
        background-color: $MAIN_PRIMARY;
        cursor: pointer;
        transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
        transform-origin: 50% 50%;
        &:before {
            transform-origin: 50% 50%;
            content: '\f00c';
            font-size: 20px;
            color: $MAIN_PRIMARY_TEXT;
            backface-visibility: hidden;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.modal .control textarea {
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 3px #000;
    border-radius: 3px;
    padding: 5px;
}