@import '../../../assets/constants';
.topology-model-renderer {
    height: $TOPOLOGY_RENDERER_HEIGHT;
    width: 100%;
    position: relative;
    header {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 2px solid #add8e6;
        padding-right: 5px;
        z-index: 1;
    }
    svg {
        width: 100%;
        height: calc(100% - 20px);
    }
    .wait {
        height: calc(#{$TOPOLOGY_RENDERER_HEIGHT} + 30px);
        z-index: 0;
    }
    circle.element {
        stroke: gray;
        stroke-width: 1px;
    }
    path.link {
        stroke-width: 10px;
    }
}