@import 'CommandEventTable.common';


.command-event-table__cell-value {
    border: 2px solid #cecece;
}

.command-event-table__difference-table thead {
    border: none;
    border-bottom: 2px solid #cecece;
}

.command-event-table__difference-table__header {
    border-right: 2px solid #cecece;
}