@import '~codemirror/lib/codemirror.css';

.topology-renderer-simulation-status-logger-measurement-graphs {
    display: flex;
    overflow: hidden;
    z-index: 1;
    height: calc(100vh - 60px);
    box-sizing: border-box;

    &>div:first-of-type {
        width: 70vw;
        position: relative;

        .tab-group__body {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.measurement-charts {
    width: 30vw;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: calc(100vh - 60px);
    z-index: 1;
}

.expected-result-comparison-container .dialog-content {
    overflow: hidden;
}