.service-configuration {
    .form-control {
        flex-flow: column nowrap;
        align-items: flex-start;
        display: inline-flex;
        margin-bottom: 0;
        margin-top: 0;
    }

    .form-control__label {
        width: initial;
        margin-bottom: 5px;
    }

    .form-control__label__hint {
        transform: none;
        position: relative;
    }

    .service-configuration__user-option {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        margin-bottom: 20px;

        .checkbox .form-control__body {
            margin-top: -10px;
            margin-bottom: -5px;
        }
    }

    .service-configuration__user-option__example {
        transform: translate(20px, 3px);
        width: 20px;
        height: 20px;
    }
}

.service-configuration__no-user-input-options-message {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    opacity: 0.5;
    margin-left: 20px;
}