@import '../../../assets/constants';

.app-bar {
    width: 100vw;
    display: flex;
    position: relative;
    top: 0;
    height: $APP_BAR_HEIGHT;
    left: 0;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 6px #333;
    z-index: 4;
}