.model-renderer {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    svg {
        width: 100%;
        height: 100%;
    }

    .wait {
        height: calc(100% + 30px);
        z-index: 0;
    }

    path.edge {
        stroke-width: 10px;
    }
}