.select.form-control {
    align-items: center;
}


.select__option-list__opener {
    display: flex;
    padding: 8px 10px 8px 15px;
    min-width: 170px;
    max-width: 170px;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    outline: none;
    text-align: left;

    .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
        max-width: 90%;
        margin-right: 10px;
        position: relative;
    }

    i {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 1;
        transition: transform 0.2s linear;
        transform-origin: 50% 50%;
        transform: rotate(0deg);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &:hover,
    &:focus,
    &:link {
        text-decoration: none;
        outline: none;
    }

    &.opened i {
        transform: rotate(180deg);
        font-weight: bold;
    }
}

.select__option-list-wrapper {
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: 300;
    max-height: 99.5vh;
    display: flex;
    flex-flow: column;
    padding-bottom: 5px;

    .paginator {
        padding-top: 5px;
    }
}


.select.disabled .select__option-list__opener {
    box-shadow: none;
    pointer-events: none;
}

.select__button-group {
    display: flex;
    align-items: center;
    padding: 5px 5px 0 5px;

    button {
        margin-right: 5px;
    }

    .select__button-group__toggle-all-options {
        margin: 0;
        transform: translate(40px);
    }
}