@import '../../../assets/constants';
$LEFT_CONTENT_WIDTH: 70vw;
$RIGHT_CONTENT_WIDTH: 30vw;
main {
    .app-title {
        padding: 15px 15px;
        font-size: 18px;
    }
    .content {
        display: flex;
        overflow: hidden;
        position: fixed
    }
    .left {
        width: $LEFT_CONTENT_WIDTH;
        display: flex;
        flex-flow: column nowrap;
        border-right: 2px solid #add8e6;
    }
    .right {
        width: $RIGHT_CONTENT_WIDTH;
    }
}

.previous-simulations .nested-drawer-items {
    .drawer-item.simulation {
        display: flex;
        flex-flow: column nowrap;
        line-height: initial;
        justify-content: center;
    }
    .simulation-id {
        display: inline-block;
        font-size: 12px;
    }
}