@import '../../../constants';
.simulation-status-logger {
    height: $SIMULATION_STATUS_LOGGER_HEIGHT;
    position: relative;
    counter-reset: message-number;
    header {
        height: 30px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #add8e6;
        span {
            pointer-events: none;
            user-select: none;
            display: inline-block;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            margin-left: 2px;
            background-color: #add8e6;
            padding: 5px;
            font-size: 13px;
            color: #a52a2a;
            box-shadow: -1px -0.25px 1px #888, 1px 0 1px #888;
        }
    }
    .drag-handle {
        height: 3px;
        cursor: row-resize;
        height: 10px;
        position: absolute;
        width: 100%;
    }
    .body {
        max-height: calc(100% - 30px);
        height: calc(100% - 30px);
        overflow-y: auto;
        white-space: pre;
        background-color: #fff8f8;
    }
    .message:before {
        counter-increment: message-number;
        content: counter(message-number) ". "
    }
    .wait {
        top: 30px;
    }
}