.paginator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.paginator__page-indicator {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    &__current-page-input {
        padding: 5px 3px;
        width: 35px;
        outline: none;
        border-radius: 8px;
        text-align: center;
        font-size: 0.8rem;
        transition: border-color 0.25s ease;
    }
}