.gridappsd-form-control.multiline {
    align-items: flex-start;
}

.gridappsd-form-control__multiline-input {
    width: 600px;
    box-shadow: 0 0 3px #555;
    border-radius: 3px;
    padding: 5px;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
    white-space: pre;
    vertical-align: top;
    border: none;
    display: inline-block;
}