.stomp-client-form {
    max-height: calc(100vh - 60px);
    background-color: #fff;
    width: 100vw;
    position: relative;

    label {
        width: 100px;
    }

    .form-control__body {
        width: 100%;
    }
}

.stomp-client-form__topic .input-field-wrapper {
    width: 100%;

    input {
        width: 100%;
    }
}

.stomp-client-form__request-body .textarea__input-box {
    width: 100%;
}

.stomp-client__send-request {
    margin-left: 110px;
    display: block;
}

.stomp-client-form__response .textarea__input-box {
    height: 52.5vh;
    white-space: pre;
    max-height: 52.5vh;
    padding: 5px;
    overflow: auto;
    pointer-events: none;
    width: 100%;
}