.validation-error-message-container {
    margin: 0px 0 5px 0;
    padding: 5px 0;
}

.validation-error-message {
    font-size: 10px;
    color: red;
    font-style: italic;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}