.topology-renderer-simulation-status-logger-measurement-graphs {
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.topology-renderer-simulation-status-logger {
    width: 70vw;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    border-right: 2px solid rgba(0, 0, 0, 0.08);
}

.measurement-charts {
    width: 30vw;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #fff;
    z-index: 1;
}