.websocket-connected-indicator {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;

    .websocket-connected-indicator__icon {
        font-size: 2em;
        font-weight: bold;
    }
}

.websocket-connected-indicator__status-text {
    font-size: 0.8em;
}