@import 'Tooltip.common';

.td-tooltip {
    box-shadow: 0 1px 3px #271e1e, 0 -0.5px 3px #271e1e;
    background-color: #555;
    color: #fff;
    border: 1px solid #8e8e8e;
}

.td-tooltip__arrow::after {
    background-color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 271e1e;
    border: 1px solid #8e8e8e;
}