.checkbox {
    display: flex;
    position: relative;
    line-height: initial;
    flex-flow: row;
    align-items: center;
    overflow: hidden;
}

.checkbox.label-position-left {
    margin: 0 20px;
}

.checkbox.label-position-right {

    padding-left: 250px;

    .form-control__label {
        order: 1;
        width: initial;
    }

    .checkbox-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkbox__input {
        width: 100vw;
    }
}

.checkbox-wrapper {
    position: relative;
}

.checkbox__icon {
    width: 30px;
    position: relative;
    left: 0;
    font-size: 1.5em;
    color: #3f51b5;
    pointer-events: none;
}

.checkbox__icon__checked {
    position: absolute;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.checkbox__input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    display: block;
}

.checkbox__input:checked~.checkbox__icon__checked {
    opacity: 1;
}

.checkbox.disabled {

    .checkbox__icon {
        color: #ccc;
    }

    pointer-events: none;
}

.checkbox__hint {
    display: inline-block;
    font-size: 0.8em;
    color: #666;
    margin: 0 2.5px;
}