.settings__trigger {
    cursor: pointer;
}

.settings__menu {
    width: 270px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    width: 250px;
    margin: 10px 0;
    padding: 0;

    &__item {
        margin: 0;
        padding: 10px;
        list-style: none;
        display: flex;

        &__action {
            position: relative;
            margin-left: auto;

            &.toggle-logging {
                transform: translate(-13px, 0px);
            }
        }
    }
}