.settings-menu-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.settings__trigger {
    cursor: pointer;
}

.settings__menu {
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    width: 250px;
    margin-left: 50px;
    padding: 5px 0;

    &__item {
        margin: 0;
        padding: 10px;
        list-style: none;
        display: flex;

        &__action {
            position: relative;
            margin-left: auto;
        }
    }
}