.voltage-violation {
    position: absolute;
    right: 9px;
    top: 125px;
    z-index: 0;
    display: flex;
    font-size: 0.8em;
    flex-flow: column nowrap;
    background-color: #555;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 -0.5px 1px rgba(0, 0, 0, 0.2);
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    border: 1px solid #8e8e8e;

    &.open {
        padding: 5px;
        padding-top: 30px;
        border-radius: 10px;

        table {
            display: table;
        }
    }

    .icon-button {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
    }

    table {
        display: none;
    }

    tr {
        background-color: transparent !important;
    }
}