@import '@constants.dark';
@import 'Input.common';

.input-field__input {
    border-bottom: 2px solid rgba($primary-text-color, 0.75);
    color: $primary-text-color;
}

.input-field__ripple-bar {
    background-color: $primary-color;
}

.form-control.invalid {
    .input-field__input {
        border-bottom-color: red;
        color: red;
    }

    .input-field__ripple-bar {
        background-color: red;
    }
}