.input-field-wrapper {
    display: inline-block;
    position: relative;
}

.input-field__input {
    border: none;
    border-bottom: 2px solid #e3e3e3;
    min-width: 200px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: border-bottom-color 0.15s ease, color 0.1s ease;
}

.input-field__ripple-bar {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), background-color 0.1s ease;
    transform: scaleX(0);
    background-color: #3f51b5;
    transform-origin: 50% 50%;
    display: inline-block;
}

.input-field__input:focus~.input-field__ripple-bar {
    transform: scaleX(1);
}

.form-control.invalid {
    .input-field__input {
        border-bottom-color: red;
        color: red;
    }

    .input-field__ripple-bar {
        background-color: red;
    }
}