.available-application-list {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CECECE;

    .available-application-list__action {
        width: 50px;
    }

    table {
        border-collapse: collapse;
        width: calc(100% - 50px);
    }

    thead {
        background-color: #3f51b5;
        color: #fff;
        border-left: 2px solid #CECECE;
    }

    th,
    td,
    div {
        font-size: 0.9em;
        text-align: center;
        white-space: nowrap;
    }

    th {
        font-weight: 500;
        padding: 10px 15px;
        border: 2px solid #CECECE;
        border-left: 0;
        white-space: nowrap;
    }

    th:last-of-type {
        border-right: 0;
    }

}