.blazegraph-form {
    .control {
        margin: 20px;
        z-index: 10;
        label {
            display: inline-block;
            font-weight: normal;
            margin: 10px;
            margin-left: 25px;
            width: 200px;
            vertical-align: top;
        }
        input {
            border: none;
            border-bottom: 2px solid #e3e3e3;
            width: 300px;
            outline: none;
            padding: 5px;
        }
        .str-editor {
            width: 600px;
            box-shadow: 0 0 3px #555;
            border-radius: 3px;
            padding: 5px;
            height: 150px;
            max-height: 150px;
            overflow-y: auto;
            vertical-align: top;
            white-space: pre-wrap;
            outline: none;
            display: inline-block;
        }
    }
    .submit {
        transform: scale(0.85);
        margin-left: 249px;
        box-shadow: 0 0 5px #888;
        background-color: #009688;
    }
}