.icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 5px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 1px 3px 8px -2px rgba(0, 0, 0, 0.2), 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.2);
    }

    &>span {
        font-family: Roboto;
    }
}

.icon-button.has-label {
    width: auto;
    height: auto;
    padding: 5px 10px;

    &::before {
        margin-right: 10px;
        font-size: 25px;
    }
}

.icon-button.minus:before {
    content: '\f068';
}

.icon-button.plus:before {
    content: '\f067';
}

.icon-button.question:before {
    content: '\f128';
}

.icon-button.websocket-connection-active:before {
    content: '\f058';
}

.icon-button.websocket-connection-inactive:before {
    content: '\f057';
}

.icon-button.start:before {
    content: '\f04b';
}

.icon-button.stop:before {
    content: '\f04d';
}

.icon-button.pause:before {
    content: '\f04c';
}

.icon-button.resume:before {
    content: '\f04b';
}