.icon-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 5px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 1px 3px 8px -2px rgba(0, 0, 0, 0.2), 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;

    cursor: pointer;

    &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px 2px 7px rgba(0, 0, 0, 0.2);
    }

    i,
    span {
        pointer-events: none;
    }
}

.icon-button--primary:disabled,
.icon-button--default:disabled {
    background-color: #e0e0e0;
    box-shadow: none;
    color: #efefef;
}

.icon-button--accent:disabled {
    background-color: #e0e0e0;
    box-shadow: none;
    color: #c9bfbf;
}

.icon-button--primary {
    background-color: #3f51b5;
    color: #fff;
}

.icon-button--accent {
    background-color: #db356e;
    color: #fff;
}

.icon-button--has-label {
    width: auto;
    height: auto;
    padding: 5px 10px;

    .icon-button__icon {
        margin-right: 10px;
        font-size: 25px;
    }
}

.rounded-icon-button {
    border-radius: 100%;
    transform-origin: 50% 50%;
}

.rounded-icon-button--large {
    width: 50px;
    height: 50px;

    i {
        font-size: 2.2em;
    }
}

.rounded-icon-button--normal {
    width: 40px;
    height: 40px;

    i {
        font-size: 2em;
    }
}

.rounded-icon-button--small {
    width: 30px;
    height: 30px;

    i {
        font-size: 1.5em;
    }
}

.icon-button__label {
    font-family: Roboto;
}