.header {

    nav.navbar {
        margin-bottom: 0px;
    }

    .timestamp {
        margin-top: 15px;
    }

    .application.select {
        margin-top: 10px;
    }

    .simulation.start {
        margin-left: 10px;
        margin-top: 5px;
    }
}