$reg_FEEDER_REG_color: darkgreen;
$reg_VREG2_color: darkblue;
$reg_VREG3_color: darkred;
$reg_VREG4_color: orange;

.view.ieee8500 {

    width: 100%;
    height: 100%;
    border-top: 2px #efefef solid; 

    .topology {
        float: left;
        width: 70%;
        height: 85%;
    }

    .plots {
        float: right;
        width: 30%;
        height: 100%;
        border-left: 2px #efefef solid;
    }
    .messages {
        float: left;
        width: 70%;
        height: 20%;        
    }

    circle.element {
        stroke: gray;
        stroke-width: 1px;
    }

    path.link {
        stroke-width: 10px;
    }

    .topology text {
        font-size: 300px;
    }

    .pnnl-table {
        stroke: gray;
        stroke-width: 1px;
    }

    rect.pnnl-table {
        fill: cornsilk;
    }

    text.pnnl-table.header {
        font-weight: bold;
    }

    text.pnnl-table.content {
        color: #121212;
    }

    path.pnnl-table.header.gridline {
        stroke-width: 2px;
        stroke: #232323;
    }

    text.content.capacitor {
        font-weight: bold;
    }

    text.content {
        font-weight: bold;
    }

    text.small-header {
        font-size: 250;
    }

    text.capacitor.OPEN {
        fill: limegreen;
    }

    text.capacitor.CLOSED {
        fill: darkred;
    }

    circle.element.mouseover {
        stroke: darkgreen;
        stroke-width: 50px;
    }

    g.pnnl-table.show {
        opacity: 1;
    }

    g.pnnl-table.hide {
        opacity: 0;
    }

    .reg_FEEDER_REG {
        stroke: $reg_FEEDER_REG_color;
    }

    .reg_VREG2 {
        stroke: $reg_VREG2_color; 
    }

    .reg_VREG3 {
        stroke: $reg_VREG3_color;
    }

    .reg_VREG4 {
        stroke: $reg_VREG4_color;
    }

    circle.reg_FEEDER_REG {
        fill: $reg_FEEDER_REG_color;
    }

    circle.reg_VREG2 {
        fill: $reg_VREG2_color; 
    }

    circle.reg_VREG3 {
        fill: $reg_VREG3_color;
    }

    circle.reg_VREG4 {
        fill: $reg_VREG4_color;
    }
}