@import '../assets/constants';
.app-title {
    padding: 15px 15px;
    font-size: 18px;
}

.drawer .content {
    height: calc(100vh - #{$APP_BAR_HEIGHT});
    overflow-y: auto;
}

.previous-simulations .nested-drawer-items {
    .drawer-item.simulation{
        display: flex;
        flex-flow: column nowrap;
        line-height: initial;
        justify-content: center;
    }
    .simulation-id {
        display: inline-block;
        font-size: 12px;
    }
}