$axis-color: #676767;

.plot-view {

    width: 100%;
    height: 200px;
    font-size: 12px;

    text {
        font-size: 8.5px;
        fill: $axis-color;
    }

    path {
        fill: none;
        stroke: $axis-color;
        stroke-width: 1px;
    }

    .title {
        margin-left: 5px;
    }

    .axis .tick line {
        stroke: $axis-color;
    }
}