.capacitor-control-menu {
    .form-control {
        margin: 10px;
    }

    .select {
        align-items: center;
    }

    .form-control__label {
        width: 155px;
    }

    .dialog-content {
        padding: 0;
    }

    .dialog-actions {
        padding: 5px;
    }
}