@import '@constants.dark';
@import 'TabGroup.common';

.tabgroup__header__label {
    color: rgba($primary-text-color, 0.25);
}

.tabgroup__header__label.active {
    color: $active-item-color;
}

.tabgroup__body {
    border: 2px solid rgba(219, 221, 233, 0.502);
}