.simulation-status-logger {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    height: auto;
}

.simulation-status-logger__header {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: -31px;
    box-shadow: 0px -0.5px 2px #555;
    cursor: move;
}

.simulation-status-logger__header__label {
    pointer-events: none;
    -moz-user-select: none;
    user-select: none;
    display: inline-block;
    background-color: #3f51b5;
    padding: 7px 15px;
    font-size: 13px;
    color: #fff;
}

.simulation-status-logger__header__legends {
    display: flex;
    box-sizing: border-box;
    background-color: #a29494;
    padding: 5px;
}

.simulation-status-logger__header__legends__level {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.simulation-status-logger__header__legends__level:not(:last-of-type) {
    border-right: 1px solid #fff;
}

.simulation-status-logger__header__legends__level__color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.simulation-status-logger__header__legends__level__label {
    display: inline-block;
    color: #fff;
}

.simulation-status-logger__body {
    max-height: 100%;
    height: 100%;
    overflow: hidden auto;
    white-space: pre;
    background-color: #fff8f8;
    box-shadow: 0 -1px 5px #ccc;
}