.simulation-status-logger-message {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #29B6F6;
    max-width: 100%;
    overflow: auto hidden;
}

$logLevels: FATAL ERROR WARN INFO DEBUG TRACE;
$logLevelColors: #B71C1C #D32F2F #FFFF00 #F0F4C3 #E1F5FE #C0CA33;
$textColors: #fff #fff #000 #000 #000 #000;

@for $index from 1 through length($logLevels) {
    .simulation-status-logger-message.#{nth($logLevels, $index)} {
        background-color: #{nth($logLevelColors, $index)};
        color: #{nth($textColors, $index)} !important;
    }
}

.simulation-status-logger-message.highlight {
    animation: highlight 2s ease;
}

.simulation-status-logger-message__body {
    display: inline-block;
}

@keyframes highlight {
    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}