.plot-model-summary {
    border: 2px solid #555;
    border-radius: 3px;
    margin: 5px 5px 15px 5px;

    &:not(:last-of-type) {
        margin-bottom: 0;
    }
}

.plot-model-summary__header,
.plot-model-summary__component {
    display: flex;
    border-bottom: 2px solid #555;
    align-items: center;
}

.plot-model-summary__header {
    align-items: center;

    .icon-button {
        margin-left: auto;
    }
}

.plot-model-summary__header__plot-name {
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
}

.plot-model-summary__component {
    display: flex;
    padding: 3px 5px;

    &:last-of-type {
        border: none;
    }
}

.plot-model-summary__component__name {
    margin-left: 10px;
}