.fault-event>.form-control .form-control__label {
    width: 230px;
}

.fault-event>.form-group .form-control {
    transform: translateX(25px);
}

.fault-event-form__add-event {
    transform: translate(1em, 2em);
    margin-bottom: 3em;
}