.message {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #add8e6;
    .btn {
        transform: scale(0.65);
    }
    span {
        display: inline-block;
    }
}