.drawer-item {
    list-style-type: none;
    font-size: 1.2em;
    position: relative;
    backface-visibility: hidden;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    transition: background-color 0.2s linear, max-height 0.25s cubic-bezier(0.35, 0, 0.25, 1);
    overflow: hidden;
    box-sizing: border-box;
}

.drawer-item-wrapper {
    display: flex;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
}

.drawer-item .drawer-item-icon {
    margin-right: 20px;
    margin-left: 15px;
    font-size: 1.5em;
    font-weight: bold;
}