.topology-renderer {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.topology-renderer__canvas {
    width: 100%;
    height: 100%;
}

.topology-renderer__toolbox-container {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.topology-renderer__toolbox {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 6px;
}

.topology-renderer__canvas__edge {
    stroke-width: 0.2px;
    fill: none;
}

.topology-renderer__canvas__symbol__image {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    pointer-events: none;
}