@import 'TopologyRenderer.common';

.topology-renderer__toolbox {
    box-shadow: 0 0 3px #555;
    background-color: rgb(233, 204, 204);
}

.topology-renderer__canvas__edge {
    stroke: #ffa500;
}

.topology-renderer__canvas__node {
    fill: #ffa500;
}

.topology-renderer__canvas__symbol.capacitor,
.topology-renderer__canvas__symbol.transformer {
    stroke: #ffa500;
}

.topology-renderer__canvas__symbol.regulator .topology-renderer__canvas__symbol__image {
    background-image: url(./images/regulator.dark.svg);
    background-repeat: no-repeat;
}

.topology-renderer__canvas__symbol.substation .topology-renderer__canvas__symbol__image {
    background-image: url(./images/substation.dark.svg);
    background-repeat: no-repeat;
}