@import 'TopologyRenderer.common';

.topology-renderer__toolbox {
    box-shadow: 0 0 3px #555;
    background-color: rgb(233, 204, 204);
}

.topology-renderer__canvas__arrow {
    stroke: #000;
    fill: #000;
}

.topology-renderer__canvas__edge {
    stroke: #000;
}

.topology-renderer__canvas__symbol.capacitor,
.topology-renderer__canvas__symbol.transformer,
.topology-renderer__canvas__symbol.regulator {
    stroke: #000;
}

.topology-renderer__canvas__symbol.substation .topology-renderer__canvas__symbol__image {
    background-image: url(./images/substation.light.svg);
    background-repeat: no-repeat;
}