@import '@constants.light';
@import 'FormControl.common';

.form-control__label {
    color: $primary-color;
}

.form-control__label__hint {
    color: rgba(0, 0, 0, 0.5);
}

.form-control.invalid {

    .form-control__label,
    .form-control__label__hint {
        color: red;
    }
}

.form-control.disabled {
    .form-control__label {
        color: #cdcdcd;
    }

    .form-control__label__hint {
        color: #ddd;
    }

}