@import '@constants.dark';
@import 'DataBrowser.common';

.data-browser__selection__item {
    box-shadow: 0 0 2px #fff;
    color: #ffa500;
}

.data-browser__selection__item.selected {
    color: $active-item-color;

    &:before {
        background-color: $theme-color;
    }

    &:after {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        background-color: $theme-color;
    }
}

.data-browser__request-editor,
.data-browser__response {
    box-shadow: 0 0 2px #fff;
    color: $primary-text-color;
}

.data-browser__response {
    &::-webkit-scrollbar {
        background: $theme-color;
        box-shadow: 0 0 3px #808080 inset;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }
}