$app-bar-height: 60px;

.data-browser {
    position: fixed;
    overflow: hidden;
    height: calc(100vh - #{$app-bar-height});
    width: 100vw;
    display: flex;

    li {
        list-style-type: none;
    }

    .vertical-divider {
        width: 1px;
        box-shadow: 0 0 2px #888;
        height: 100%;
    }
}

.data-browser__selection {
    margin: 0;
    padding: 0;
    width: 350px;
    z-index: 1;
    border-radius: 3px; // box-shadow: 0 0 2px #888;
}

.data-browser__selection__item {
    line-height: 5em;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 2px #888;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 20px;
    transition: transform 0.4s cubic-bezier(0.85, 1.72, 0, 1.32);
    position: relative;
    color: #3f51b5;
    display: block;
    -moz-user-select: none;
    user-select: none;
    position: relative;

    &:link,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:hover {
        transform: translateX(20px);

        &:after {
            width: 10px;
        }
    }
}

.data-browser__selection__item.selected {
    pointer-events: none;

    &:before {
        content: '';
        width: 30px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        left: 100%;
        top: 20px;
    }

    &:after {
        content: '';
        width: 30px;
        height: 40px;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
        background-color: #fff;
        position: absolute;
        left: 100%;
        top: 20px;
        transition: width 0.2s cubic-bezier(0.85, 1.72, 0, 1.32);
    }
}

.request-response {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    margin-left: 15px;
}

.request-editor,
.response {
    max-height: 50%;
    overflow: auto;
    height: 50%;
    box-shadow: 0 0 2px #888;
    border-radius: 3px;
    padding: 5px;
    white-space: pre;
    box-sizing: border-box;
    position: relative;
}

.response {
    white-space: pre-wrap;
    margin-top: 5px;

    &::-webkit-scrollbar {
        border-radius: 10px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    &::-webkit-scrollbar:vertical {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
}