.regulator-menu {
    .form-control {
        margin: 10px;
    }

    .form-control__label {
        width: 8em;
    }


    ul {
        margin: 0;
    }

    span {
        font-size: 0.8em;
    }

    .dialog-content {
        padding: 0;
    }

    .dialog-actions {
        padding: 5px;
    }
}