.option-list-filter {
    position: relative;
    border: 2px solid #3f51b5;
    border-radius: 5px;
    padding: 3px 0;
    padding-left: 5px;
    margin: 0 10px;
    margin-top: 15px;
    min-width: 200px;
    display: flex;
    box-sizing: border-box;
}

.option-list-filter__input {
    border: none;
    font-size: 0.9em;
}