.option-list {
    overflow: hidden auto;
    min-width: 200px;
    padding: 15px 0 0 0;
    margin: 0;

    &:empty {
        box-shadow: none;
    }
}

.option-list__option {
    backface-visibility: hidden;
    color: #000;
    list-style-type: none;
    white-space: nowrap;
    font-weight: normal;
    padding: 15px 10px;
    padding-right: 25px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        background-color: #84811114;
    }
}

.option-list__option__label {
    font-weight: normal;
}

.option-list__option.selected {
    background-color: rgba(0, 0, 0, 0.08);
}