.option-list-paginator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    padding: 7px 0;
    box-sizing: border-box;
}

.option-list-paginator__page-indicator {
    width: 100px;
    text-align: center;
}