.drawer-item-group {
    max-height: 50px;

    .drawer-item-wrapper {
        pointer-events: none;
    }
}

.drawer-item-group__nested-drawer-items:not(:empty) {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;

    .drawer-item {
        font-size: 0.8em;
        padding: 0 20px 0 65px;
    }

    .drawer-item:last-of-type {
        border-bottom: none;
    }
}

.drawer-item-group .drawer-item-group__angle {
    position: relative;
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0.35, 0, 0.25, 1);
    transform-origin: 50% 50%;
    font-size: 2em;
    backface-visibility: hidden;
}

.drawer-item-group.expanded {
    max-height: 100%;

    .drawer-item-group__angle {
        transform: rotate(-180deg);
    }

}