@import '@constants.dark';
@import 'TabGroup.common';

.tab-group__header__label {
    color: rgba($primary-text-color, 0.25);
}

.tab-group__header__label.active {
    color: $active-item-color;
}

.tab-group__body {
    border: 2px solid rgb(149, 151, 160);
}