@import 'VoltageViolation.common';

.voltage-violation {
    color: #fff;

    table td:first-child>div {
        color: #ffa;
        font-weight: bold;
    }

}

.voltage-violation__label,
.voltage-violation__counts {
    background-color: #8a6d6d;
    box-shadow: 0 0 2px #8a6d6d;
}