.voltage-violations {
    position: absolute;
    right: 5px;
    top: 110px;
    z-index: 0;
}

.voltage-violation {
    position: relative;
    display: flex;
    font-size: 0.8em;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
    overflow: hidden;
    border-radius: 1000px;
}

.voltage-violation__label {
    position: relative;
    left: 5px;
    padding: 5px 10px;
    padding-right: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    transition: transform 0.25s ease;
    white-space: nowrap;
    pointer-events: none;
    transform: translateX(0);
}

.voltage-violation__counts {
    border-radius: 100%;
    text-align: right;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -0.5px 2px #555;
    -moz-user-select: none;
    -webkit-user-select: none;
}