@import 'MeasurementValueTable.common';

.measurement-value-table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 -0.5px 1px rgba(0, 0, 0, 0.2);
    background-color: #555;
    color: #fff;
    border: 1px solid #8e8e8e;
}