.navigation__app-title {
    padding: 15px 15px;
    font-size: 18px;
    color: #fff;
}

.navigation__app-version {
    color: #ddd;
}

.drawer-item a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #000;

    &:hover {
        text-decoration: none;
        color: #000;
    }
}

.websocket-status-indicator {
    margin-left: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    box-shadow: 0 0 1px #bbb;
    color: #FFEB3B;
}

.websocket-status-indicator__icon {
    font-size: 2em;
    font-weight: bold;
}

.websocket-status-indicator__status-text {
    font-size: 0.8em;
}