@import 'Navigation.common';

.drawer-opener .material-icons {
    color: #fff;
}

.navigation__app-title {
    color: #fff;
}

.navigation__app-version {
    color: #ddd;
}

.websocket-status-indicator {
    color: #FFEB3B;
}