.pop-up-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
}

.pop-up-container.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    transform-origin: 50% 50%;
    position: fixed;
    z-index: 24;
    top: auto;
    left: auto;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.pop-up--enter {
    animation-name: pop-up--enter;
}

.pop-up--leave {
    animation-name: pop-up--leave;
}

@keyframes pop-up--enter {
    from {
        visibility: hidden;
        opacity: 0;
        transform: translateY(25px) scale(0.9, 0.9);
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }
}

@keyframes pop-up--leave {
    from {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }

    to {
        visibility: hidden;
        opacity: 0;
        transform: translateY(25px) scale(0.9, 0.9);
    }
}