$time-series-colors: red green blue #b729ae orange pink magenta brown lightcoral;

.measurement-chart {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #fff;
    margin: 5px auto;
    width: 95%;

    header {
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5px;
    }

    .canvas {
        width: 100%;
        height: 100%;
    }

    path.time-series-line {
        fill: none;
    }

    @for $index from 1 through length($time-series-colors) {
        path.time-series-line:nth-of-type(#{$index}) {
            stroke: #{nth($time-series-colors, $index)};
        }

        .measurement-chart__legend:nth-child(#{$index}) .measurement-chart__legend__color {
            background-color: #{nth($time-series-colors, $index)};
        }
    }
}

.measurement-chart__legends {
    display: flex;
    padding: 5px;
    flex-flow: row wrap;
}

.measurement-chart__legend {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 0 1px #555;
    box-sizing: border-box;
}

.measurement-chart__legend__color {
    width: 15px;
    height: 10px;
    display: inline-block;
    padding: 2.5px 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.measurement-chart__legend__label {
    font-size: 0.7em;
    display: inline-block;
    margin-left: 5px;
    color: #000;
}