.ripple {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 0;
    margin: 0;
}

.ripple.fixed {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0, 0);
    }

    to {
        opacity: 0;
        transform: scale(3, 3);
    }
}

.ripple-effect {
    display: inline-block;
    position: relative;
    animation: ripple;
    opacity: 0.7;
    transform: scale(0);
    border-radius: 100%;
    transform-origin: 50% 50%;
    top: 0;
    left: 0;
}