.command-event-table__difference-table {
    margin: -5px;
}

.command-event-table__difference-table__header {
    border: none;
    padding: 3px 5px;
}

.command-event-table__difference-table__header:last-of-type {
    border: none;
}

.command-event-table__difference-table__cell-value {
    padding: 10px;
    border: none;
}

.command-event-table__difference-table__cell-value:last-of-type {
    border: none;
}