$accent-color: #db356e;
$accent-text-color: #fff;
$hovering-shadow: 2px 5px 20px -10px rgba(0, 0, 0, 0.2),
2px 5px 40px rgba(0, 0, 0, 0.25);
$label-color: #3f51b5;
$primary-color: #3f51b5;
$primary-text-color: #fff;
$theme-color: #fff;
$table-border-color: #ba8891;