@font-face {
    src: url('./fontawesome.woff2');
    font-family: 'FontAwesome';
}

body,
main {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 14px/1 FontAwesome, Glyphicon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a {
    outline: none;
    text-decoration: none;
}