.realtime-checkbox-container .icon-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-17px, -3px);
    background-color: #555;
    color: #fff;
    padding: 0;
}