.dialog-action-group {
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &>* {
        margin-right: 5px;
    }

    &:empty {
        display: none;
    }
}