.simulation-configuration-tab .form-control__label {
    width: 250px;
}

.realtime-checkbox-container {
    position: relative;
    display: flex;
    align-items: center;

    .icon-button {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-35px, 0);
        padding: 0;
        z-index: 15;
    }
}

.accompanying-text {
    font-size: 13px;

    div {
        font-weight: bold;
    }
}