.form-control {
    margin: 20px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.form-control__label {
    width: 250px;
    display: flex;
    flex-flow: column;
    color: #3f51b5;
}

.form-control__label__hint {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    transform: translateY(-1px);
}