.form-control {
    margin: 20px;
    display: flex;
    z-index: 10;
}

.form-control__label {
    width: 250px;
    display: flex;
    flex-flow: column;
    color: #3f51b5;
    transition: color 0.1s ease;
}

.form-control__label__hint {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    transform: translateY(16px);
    transition: color 0.1s ease;
    position: absolute;
}

.form-control.invalid {

    .form-control__label,
    .form-control__label__hint {
        color: red;
    }
}

.form-control.disabled {
    .form-control__label {
        color: #cdcdcd;
    }

    .form-control__label__hint {
        color: #ddd;
    }
}