@import 'TabGroup.common';

.tab-group__header__label {
    color: rgba(0, 0, 0, 0.2);
}

.tab-group__header__label.active {
    color: rgba(0, 0, 0, 1);
}

.tab-group__body {
    border: 2px solid rgba(64, 81, 181, 0.502);
}