.capacitor-menu {
    .form-control {
        margin: 10px;
    }

    .form-control__label {
        width: 7em;
    }

    .dialog-content {
        padding: 0;
    }

    .dialog-actions {
        padding: 5px;
    }
}