.drawer-item-group {
    padding-left: 0;
    header {
        position: relative;
        display: flex;
        align-items: center;
        .angle {
            right: 10px;
            transition: transform 0.25s ease;
            transform-origin: 50% 50%;
            transform: scale(1.5);
            backface-visibility: hidden;
            position: absolute;
            &:after {
                content: '\f107';
            }
        }
        span {
            margin-left: 10px;
        }
    }
    .nested-drawer-items {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f1f1f1;
        box-shadow: 0 1px 5px #000 inset;
        transition: height 250ms ease;
        .drawer-item {
            line-height: 40px;
            height: 40px;
            font-size: 16px;
            padding-left: 30px;
        }
        .drawer-item:first-of-type {
            border-top: 1px solid #000;
        }
        .drawer-item:last-of-type {
            border-bottom: none;
        }
    }
}

.drawer-item-group.expanded {
    .angle {
        transform: rotate(180deg) scale(1.5);
    }
}

.drawer-item-group.collapsed {
    .nested-drawer-items {
        height: 0;
    }
}